In [7]:
import pandas as pd 
import numpy as np
import flask 
import pymongo

In [2]:
# Name of the CSV file
file = 'Resources/clean-us-counties.csv'
file2 = 'Resources/us-states.csv'

In [3]:
file_df = pd.read_csv(file)
file2_df = pd.read_csv(file2)

In [4]:
counties_df = pd.DataFrame(file_df)
states_df = pd.DataFrame(file2_df)

In [5]:
counties_df.head()

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases
0,7/29/20,Autauga,Alabama,1001.0,987,21.0,949.0,20.0,38.0
1,7/29/20,Baldwin,Alabama,1003.0,2908,21.0,2865.0,20.0,43.0
2,7/29/20,Barbour,Alabama,1005.0,584,4.0,538.0,4.0,46.0
3,7/29/20,Bibb,Alabama,1007.0,344,2.0,336.0,2.0,8.0
4,7/29/20,Blount,Alabama,1009.0,694,3.0,623.0,3.0,71.0

In [6]:
states_df.head()

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,7/29/20,Alabama,1,83782,1538,81572.0,1489.0,2210.0,49.0
1,7/29/20,Alaska,2,3440,20,3440.0,20.0,0.0,0.0
2,7/29/20,Arizona,4,168293,3466,NaN,NaN,NaN,NaN
3,7/29/20,Arkansas,5,40968,434,40968.0,434.0,0.0,0.0
4,7/29/20,California,6,482578,8789,482578.0,8789.0,0.0,0.0